*.pem

*.o
*.so
.config_*

Sample_App/lsclient
Sample_App/sampleapp
Sample_App/testcorrectness
Sample_App/hsoramclient

ZT_Enclave/Enclave_t.c
ZT_Enclave/Enclave_t.h
ZT_Untrusted/Enclave_u.c
ZT_Untrusted/Enclave_u.h
